<div class="container mb-4 mt-4">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2 m-auto">


            <!-- Hacer una tabla con todos los productos con un boton que mande el id de los productos a un componente que modifique los productos (storageItem.setItem()) -->

            <button class="btn btn-primary mb-4 " (click)="toInyectador()">Añadir Productos</button>

            <table class="table">
                <tr>
                    <th>ID</th>
                    <th>CATEGORÍA</th>
                    <th>MARCA</th>
                    <th>NOMBRE</th>
                    <th>DESCRIPCIÓN</th>
                    <th>CANTIDAD</th>
                    <th>PRECIO</th>
                    <th>*</th>
                </tr>
                <tr *ngFor="let producto of productos">
                    <td>{{producto.id_producto}}</td>
                    <td>{{producto.categorias.tipo}}</td>
                    <td>{{producto.marcas.marca}}</td>
                    <td>{{producto.nombre}}</td>
                    <td>{{producto.descripcion}}</td>
                    <td>{{producto.cantidad}}</td>
                    <td>{{producto.precio}}</td>
                    <td><button class="btn btn-primary" (click)="toFomularioModificador(producto.id_producto)">modificar</button></td>
                </tr>
            </table>

            <!-- <form *ngFor="let producto of productos" action="http://localhost:8080/ardkalic/productos/modificar" method="POST">

                <p>************************</p>

                <div class="form-group">
                    <label for="id">ID:</label>
                    <input type="text" name="id" id="id" value="{{producto.id_producto}}" class="form-control">

                    <label for="categoria">Categoria:</label>
                    <input type="text" name="categoria" id="categoria" value="{{producto.categorias.tipo}}" class="form-control">

                    <label for="marca">Marca:</label>
                    <input type="text" name="id" id="id" value="{{producto.marcas.marca}}" class="form-control">

                    <label for="nombre">Nombre:</label>
                    <input type="text" name="id" id="id" value="{{producto.nombre}}" class="form-control">

                    <label for="descripcion">Descripcion:</label>
                    <textarea cols="30" rows="10" name="id" id="id" class="form-control">{{producto.descripcion}}</textarea>

                    <label for="cantidad">Cantidad:</label>
                    <input type="text" name="cantidad" id="cantidad" value="{{producto.cantidad}}" class="form-control">
                    

                    <label for="precio">Precio:</label>
                    <input type="text" name="precio" id="precio" value="{{producto.precio}}" class="form-control">

                    
                </div>
                <button class="btn btn-success mt-4 mb-4" type="submit">Modificar</button>
                <p>************************</p>

            </form> -->

        </div>
    </div>
</div>