<div class="container mb-4 mt-4">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2 m-auto">

            <button class="btn btn-primary mb-4 " (click)="toInyectador()">Añadir Productos</button>

            <table class="table">
                <tr>
                    <th>ID</th>
                    <th>CATEGORÍA</th>
                    <th>MARCA</th>
                    <th>NOMBRE</th>
                    <th>DESCRIPCIÓN</th>
                    <th>CANTIDAD</th>
                    <th>PRECIO</th>
                    <th>*</th>
                </tr>
                <tr *ngFor="let producto of productos| paginate:{itemsPerPage: 12, currentPage:page}">
                    <td>{{producto.id}}</td>
                    <td>{{producto.tipo}}</td>
                    <td>{{producto.marca}}</td>
                    <td>{{producto.nombre}}</td>
                    <td>{{producto.descripcion}}</td>
                    <td>{{producto.cantidad}}</td>
                    <td>{{producto.precio}}</td>
                    <td><button class="btn btn-primary" (click)="toFomularioModificador(producto.id)">modificar</button></td>
                    <td><button class="btn btn-danger" (click)="borrarProducto(producto.id)">borrar</button></td>
                </tr>
            </table>
            <pagination-controls (pageChange)="page= $event"></pagination-controls>
        </div>
    </div>
   
</div>
