<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!--all above is necessary for bootstrap to function in this snippet-->

<div class="container">
  <!-- <div class="sidenav">
    <a href="#">About</a>
    <a href="#">Services</a>
    <a href="#">Clients</a>
    <a href="#">Contact</a>
  </div> -->
    <div class="row">

      <div class="col-lg-12">
        <app-carousel></app-carousel>
        <div class="row">

          <div class="col-lg-4 col-md-6 mb-4 mt-4" *ngFor="let producto of productos| paginate:{itemsPerPage: 6, currentPage:page} ">
            <div class="card h-100" >
              <a href="#">
              <img class="card-img-top img-fluid" src="data:image/jpeg;base64,{{producto.imagen}}" height="300px" width="300px" alt=""></a>
              <div class="card-body" >
                <h3 class="card-title">
                  <a href="#">{{producto.nombre}}</a>
                </h3>
                <h4>{{producto.precio}}€</h4>
                
                <p class="card-text">{{producto.descripcion}}</p>
                <hr>
                <button class="btn btn-success btn-block" (click)="verDetalles(producto.id)">Ver más</button>
                <button class="btn btn-primary btn-block" (click)=" anadirCarrito(producto)">Añadir al carrito</button>
              </div>
              
            </div>
          </div>
        </div>
        <!-- /.row -->
        <pagination-controls (pageChange)="page= $event"></pagination-controls>
      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
