<div class="container">
    <div class="row">
        <div class="col-12">
            <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
                <div class="form-group">
                    <label for="nombre">Nombre:</label>
                    <small id="emailHelp" class="form-text text-muted">Nunca compartiremos tu usuario con nadie</small>
                    <input type="text" class="form-control" name="name" ngModel required #name="ngModel">
                    
                    <br>
                    <label for="asunto">Email: </label>
                    <input type="text" class="form-control" email name="email" ngModel required #email="ngModel">
                    <br>

                    <br>
                    <label for="asunto">Asunto: </label>
                    <input type="text" class="form-control" >
                    <br>

                    <label for="mensaje">Mensaje: </label>
                    <textarea placeholder="Messages" name="messages"cols="30" rows="10" placeholder="Escriba aqui su texto" class="form-control" ngModel required #messages="ngModel"></textarea>

                    <input type="submit" value="Send" class="btn btn-primary">
                </div>
            </form>
        </div>
    </div>
</div>
