<div class="container">
    <form class="row">
        <div class="col-6">
            <div class="form-group col-6">
                <label for="label">Precio máximo</label>
                <input type="number" name="precio" id="precio" class="form-control" [(ngModel)]="precioMaximo">
            </div>
        </div>

        <div class="col-6">
            <div class="form-group col-6">
                <label for="marca">Marca</label>
                <select name="marca" id="marca" class="form-control" [(ngModel)]="marcaFiltrada">
                    <option *ngFor="let marca of marcas, let repetida = index" data-index="repetida"
                        value="{{marca.marca}}">
                        {{ marca.marca }}
                    </option>
                    <option value="Todas las marcas">Todas las marcas</option>
                </select>
            </div>
        </div>
    </form>

    <div class="row">

        <div class="col-lg-4 col-md-6 mb-4 mt-4" *ngFor="let producto of productos| precioMaximoPipe:precioMaximo: 'precio' | marcaFiltrada: marcaFiltrada: 'marca'| paginate:{itemsPerPage: 6, currentPage:page} ">
          <div class="card h-100" >
            <a href="#">
            <img class="card-img-top img-fluid" src="data:image/jpeg;base64,{{producto.imagen}}" height="300px" width="300px" alt=""></a>
            <div class="card-body" >
              <h3 class="card-title">
                <a href="#">{{producto.nombre}}</a>
              </h3>
              <h4>{{producto.precio}}€</h4>
              
              <p class="card-text">{{producto.descripcion}}</p>
              <hr>
              <button class="btn btn-success btn-block" (click)="verDetalles(producto.id)">Ver más</button>
              <input min="1" type="number" [(ngModel)]="producto.cantidadProducto" class="form-control">
              <button class="btn btn-primary btn-block" (click)=" anadirCarrito(producto)">Añadir al carrito</button>
            </div>
            
          </div>
        </div>
      </div>
    <pagination-controls  (pageChange)="page= $event"></pagination-controls>
</div>