<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="#">ArdKalic</a>

  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
    <span class="material-icons-outlined">
      view_headline
      </span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link"[routerLink]="['/inicio']"><span class="material-icons-outlined">
          home
          </span> <span class="sr-only">(current)</span></a>
      </li>
      
      <li ngbDropdown  class="nav-item dropdown">
        <a class="btn" id="dropdownBasic1" ngbDropdownToggle>Productos</a>
        <div ngbDropdownMenu   class="dropdown-menu">
          <a class="dropdown-item" ngbDropdownItem [routerLink]="['/productos/Procesador']" routerLinkActive="router-link-active" >Procesadores</a>
          <a class="dropdown-item" ngbDropdownItem [routerLink]="['/productos/Tarjeta gráfica']">Tarjetas gráficas</a>
          <a class="dropdown-item" ngbDropdownItem [routerLink]="['/productos/Placa base']">Placas base</a>
          <a class="dropdown-item" ngbDropdownItem [routerLink]="['/productos/RAM']">RAM</a>
          <a class="dropdown-item" ngbDropdownItem [routerLink]="['/productos/Caja']">Cajas/Torres</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" ngbDropdownItem [routerLink]="['/productos/Monitor']">Monitores</a>
          <a class="dropdown-item" ngbDropdownItem [routerLink]="['/productos/Teclado']">Teclados</a>
          <a class="dropdown-item" ngbDropdownItem [routerLink]="['/productos/Ratón']">Ratones</a>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/about']">About us</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/contacto']"><span class="material-icons-outlined">
          email
          </span></a>
      </li>
    </ul>

    <div class="carrito">
      <a class="nav-link ml-auto" [routerLink]="['/carrito']"><span class="material-icons-outlined">
        shopping_cart
        </span></a>
    </div>

    <div class="administrador">
      <button *ngIf="rol == 'Administrador'" class="btn btn-success mr-2" (click)="inyectador()">Añadir/Modificar componente</button>
    </div>

    <form class="form-inline my-2 my-lg-0" >
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" [(ngModel)]="palabra" name="busqueda">
      <button class="btn btn-outline-success my-2 my-sm-0" (click)="recogerDatoBuscador()" >Search</button>
    </form>

    <div *ngIf="nombreUsuario == null || nombreUsuario == ''" class="ml-2" mat-raised-button id="login-button" (click)="openModal()">Inicia sesión</div>
    <div *ngIf="nombreUsuario != null || nombreUsuario != undefined " class="logout-button ml-2" (click)="cerrarSesion()"  >Cerrar Sesion</div>
    <div *ngIf="nombreUsuario != ''" class="userName ml-2" (click)="toPerfilUsuario()">{{ nombreUsuario }}</div>
  </div>
</nav>