a{
    color: #08f0d6;
}

span{
    color: #08f0d6;
}

nav{
    background-color: #453d6a;
}

.nav-item{
    margin: auto;
}

@media screen and (max-width:1080px) {
    .form-inline{
        margin: auto !important;
        width: 300px;
        justify-content: center;
    }

    .carrito{
        text-align: center;
    }

    .administrador{
        text-align: center;
        margin-bottom: 10px;
    }

    .login-button, .logout-button, .userName{
        text-align: center;
        margin-top: 10px ;
    }
}

.btn-outline-success {
    background-color: #08f0d6;
    color: #453d6a;
}

.userName{
    color: #08f0d6;
    cursor: pointer;
}

/* Links hechos a mano */
#login-button{
    color: #08f0d6;
    cursor: pointer;
}

#login-button:hover{
    text-decoration: underline;
}

.logout-button{
    color: #08f0d6;
    cursor: pointer;
}
.logout-button:hover{
    text-decoration: underline;
}
/* Boton dropdown del header */
#dropdownBasic1{
    color: #08f0d6;
}

.dropdown-menu{
    background-color: #453d6a;
   
}

.dropdown-item{
    color: #08f0d6;
}

/* Toggler */

.navbar-toggler-icon{
    background-color: #08f0d6 !important;
    border: 1px solid black;
}
@media screen and (max-width:480){
    .dropdown-menu.show {
        border: 2px solid white !;
    }
}