<div class="container mb-4 mt-4">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2 m-auto">


            <!-- Hacer una tabla con todos los productos con un boton que mande el id de los productos a un componente que modifique los productos (storageItem.setItem()) -->

            <table class="table table-striped w-auto ">
                <thead>
                    <tr>
                      
                        <th>NOMBRE</th>
                        <th>CANTIDAD</th>
                        <th>PRECIO</th>
                        <th>TOTAL</th>
                        
                    </tr>
                </thead>
               <tbody>
                <tr *ngFor="let producto of productos">
                  
                    <td>{{producto.nombre}}</td>

                    <td>  <button  class="boton" type="button" (click)="anadirProducto(producto)"><span class="material-icons-outlined">
                        add
                    </span></button>{{producto.cantidadProducto}} <button class="boton" type="button" (click)="quitarProducto(producto)"><span class="material-icons-outlined">
                        remove
                    </span></button></td>
                    <td>{{producto.precio}}</td>
                    <td>{{producto.precio * producto.cantidadProducto}}</td>
                    <td>
                        <img src="data:image/jpeg;base64,{{producto.imagen}}" alt="{{producto.nombre}}">
                    </td>
                   
                </tr>
            </tbody>
            </table>
            <button type="button"  class="btn btn-success"(click)="mostrarDialogo()" >Completar Compra</button> 
            <button type="button" class="btn btn-danger" (click)="limpiarCarrito()" >Limpiar Carrito</button> 
        </div>
    </div>
</div>
