<ngb-carousel *ngIf="images" class="ocultar">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../../assets/img/logitech.png" height="400" width="1150" alt="Random first slide" (click)="irLogitech()">
      </div>
      <div class="carousel-caption">
        <h3>¿Buscas periféricos?</h3>
        <p>Descúbre Logitech y sus reconocidos productos.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../../assets/img/CORSAIR.jpg" height="400" width="1150" alt="Random second slide" (click)=" irCorsair()">
      </div>
      <div class="carousel-caption">
        <h3>Para los más entusiastas</h3>
        <p>Si buscas la mayor calidad y lujo, CORSAIR es tu marca.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../../assets/img/asus.jpg" height="400" width="1150" alt="Random third slide" (click)="irAsus()">
      </div>
      <div class="carousel-caption">
        <h3>Lo quieres todo para tu PC</h3>
        <p>ASUS te ofrece lo mejor y con todo lujo.</p>
      </div>
    </ng-template>
</ngb-carousel>
